*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
